{% extends "main.html" %}
{% load staticfiles %}


{% block head %}
    <title>Darya-Shop | LookBook</title>
{% endblock %}

{% block content %}
<div class="ContentBox">
    <div class="ContentBoxHead">
        <h1>LookBook</h1>
    </div>
    <div class="ContentBoxPage">
        {% for post in posts %}
            <div class="post">
                <a href="/blog/post/{{ post.id }}/" class="title"><h4>{{ post.title }}</h4></a>
                <div class="text">{{ post.text|safe|truncatewords_html:80 }}</div>
                <a href="/blog/{{ post.id }}/" class="more">Читать..</a>
                <div style="clear: both"></div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}