<h4>Вход в личный кабинет DaryaShop</h4>

<form class="popupBoxLoginForm" action="" style="position: relative">
    {% csrf_token %}
    <label for="id_email">Ваш e-mail</label>
    <input type="email" id="id_email" placeholder=""/>
    <label for="">Ваш пароль</label>
    <input type="password" id="id_password" placeholder=""/>
    <label class="popupBoxLoginFormZap" for="">Регистрация</label>
    <a href="#" class="popupBoxLoginFormVos">Забыли пароль?</a>
    {% if error %}
    <p style="color: #ff0000; position: absolute; top: 120px; left: -30px;">{{ error }}</p>
    {% endif %}
    <a class="popupBoxBottom loginSubmit" href="#">Войти</a>
</form>

<img class="popupBoxLoginFormClose" src="/static/images/cross97.png">