{% extends "main.html" %}
{% load staticfiles %}

{% block content %}
<div class="ContentBox">
    <div class="ContentBoxHead">
        <h1>Вход</h1>
    </div>
    <div class="OrderBox">
        <form action="/login/{% if next_page %}?next={{ next_page }}{% endif %}" class="site_form registration_form" method="get">
            {% if form_error %}
                <ul class="errorlist nonfield"><li>{{ form_error }}</li></ul>
            {% endif %}
            {{ form.non_field_errors }}
            <table>
            {% for field in form %}
                <tr class="fieldWrapper">
                    <td>{{ field.label_tag }}</td>
                    <td>
                        {{ field }}
                        {{ field.errors }}
                    </td>
                </tr>
            {% endfor %}
            </table>
            <input type="submit" value="Войти" class="my_bottom"/>
            <a href="#" class="access_link">Забыли пароль?</a>
            <div style="clear:both;"></div>
        </form>
        <div class="left_on_form">
            <p>Для получения персональных и сезонных скидок, а также уникальных предложений предлагаем Вам пройти несложную процедуру
                <a href="/registration/">регистрации в магазине</a></p>

            <a href="/orders/create/" class="not_registration">Купить без регистрации</a>
        </div>
        <div style="clear:both;"></div>
	</div>
</div>
{% endblock %}