{% extends "main.html" %}
{% load staticfiles %}

{% block content %}
<div class="ContentBox">
    <div class="ContentBoxHead">
        <h1>Регистрация</h1>
    </div>
    <div class="OrderBox">
        <form action="/registration/" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="form_group">
                <h3>Личные данные</h3>

                <div class="form_group_item account ">
                    <label for="id_first_name">Ваше имя * </label>
                    {{ form.first_name }}
                </div>
                <div class="form_group_item account ">
                    <label for="id_last_name">Фамилия * </label>
                    {{ form.last_name }}
                </div>
                <div class="form_group_item account ">
                    <label for="id_email">Email * </label>
                    {{ form.email }}
                </div>
                <div class="form_group_item account ">
                    <label for="id_phone">Телефон </label>
                    {{ form.phone.value }}
                </div>
                <input type="submit" value="Зарегистрироваться" class="form_bottom">
            </div>

            <div style="clear: both"></div>
        </form>
	</div>
</div>
{% endblock %}