{% extends "main.html" %}
{% load staticfiles %}

{% block content %}
<div class="ContentBox">
    <div class="ContentBoxHead">
        <h1>Регистрация</h1>
    </div>
    <div class="OrderBox">
        <form action="/registration/" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="form_group">
                <h3>Личные данные</h3>

                <div class="form_group_item account ">
                    <label for="id_first_name">Ваше имя: * </label>
                    {% if first_name_error %}
                        <p class="error">first_name_error</p>
                    {% endif %}
                    {{ form.first_name }}
                </div>
                <div class="form_group_item account ">
                    <label for="id_last_name">Фамилия: * </label>
                    {% if last_name_error %}
                        <p class="error">last_name_error</p>
                    {% endif %}
                    {{ form.last_name }}
                </div>
                <div class="form_group_item account ">
                    <label for="id_email">Email: * </label>
                    {% if email_error %}
                        <p class="error">email_error</p>
                    {% endif %}
                    {{ form.email }}
                </div>
                <div class="form_group_item account ">
                    <label for="id_phone">Телефон: </label>
                    {{ form.phone }}
                </div>
                <div class="form_group_item account ">
                    <label for="id_password">Пароль: * </label>
                    {% if password_error %}
                        <p class="error">password_error</p>
                    {% endif %}
                    <input id="id_password" maxlength="254" name="password" type="password">
                </div>
                <div class="form_group_item account ">
                    <label for="id_password_again">Ещё раз пароль: * </label>
                    <input id="id_password_again" maxlength="254" name="password_again" type="password">
                </div>
                <input type="submit" value="Зарегистрироваться" class="form_bottom">
            </div>

            <div style="clear: both"></div>
        </form>
	</div>
</div>
{% endblock %}