
<h2>{{ hello }} Номер заказа: {{ order.id }}</h2>
<h2>Статус заказа: {{ order_status }}</h2>

<p>Покупатель: {{ order.first_name }} {{ order.last_name }}</p>
<p>Email: {{ order.email }}</p>
<p>Телефон: {{ order.phone }}</p>
{% if order.admin_comment %}
    <p><span style="font-weight: bold">Комментарий администратора:</span> {{ order.admin_comment }}</p>
{% endif %}

<p>Заказанные товары:</p>
<table>
    <tr>
        <td style="border: 1px solid #eee; padding: 5px; border-collapse: collapse;">Название</td>
        <td style="border: 1px solid #eee; padding: 5px; border-collapse: collapse;">Цена</td>
        <td style="border: 1px solid #eee; padding: 5px; border-collapse: collapse;">Количество</td>
        <td style="border: 1px solid #eee; padding: 5px; border-collapse: collapse;">Сумма</td>
    </tr>
    {% for product in products %}
        <tr>
            <td style="border: 1px solid #eee; padding: 5px; border-collapse: collapse;">
                <p>{{ product.name }}</p>
                {% if product.cart_size %}
                    <span>Размер: {{ product.cart_size }}</span>
                {% endif %}
                {% if product.cart_color %}
                    <span>Цвет: {{ product.cart_color }}</span>
                {% endif %}
                {% if product.cart_size %}
                    <span>Модель: {{ product.cart_model }}</span>
                {% endif %}
            </td>
            <td style="border: 1px solid #eee; padding: 5px; border-collapse: collapse;">
                {% if product.sale_status %}
                    <span style="text-decoration: line-through">{{ product.price }} руб.</span>
                    <span>{{ product.price_sale }} руб.</span>
                {% else %}
                    <span>{{ product.price }} руб.</span>
                {% endif %}
            </td>
            <td style="border: 1px solid #eee; padding: 5px; border-collapse: collapse;">{{ product.cart_count }} шт.</td>
            <td style="border: 1px solid #eee; padding: 5px; border-collapse: collapse;">{{ product.get_all_sum }} руб.</td>
        </tr>
    {% endfor %}
</table>
<br/>
<p>Доставка: {{ order.delivery }}</p>
<p>Адрес: {{ order.address }}</p>
<p>Метро: {{ order.metro }}</p>
<p>Стоимость доставки: {{ order.delivery_price }} руб.</p>


<h2>Итого: {{ order.sum }} руб.</h2>
{% if user_active %}
<a href="http://darya-shop.ru/orders/view/{{ order.id }}/">Посмотреть информацию о заказе в личном кабинете</a>
{% endif %}