{% extends "main.html" %}
{% load catalog_menu %}


{% block content %}
<div class="ContentBox">
    <div class="ContentBoxHead">
        <h1>Оформление заказа</h1>
    </div>

    <div class="ContentBoxPage">
        {% if user_active %}
            <p>Спасибо! Ваш заказ оформлен. Вы можете посмотреть его статус в <a href="/orders/">личном кабинете</a></p>
        {% else %}
            <p>Спасибо! Ваш заказ оформлен. Информация о заказе отправлена на вашу почту</p>
        {% endif %}
    </div>
</div>
{% endblock %}