html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
a {
    color: #000;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
strong {
    font-weight: bold;
}



/* My css */
body {
    background: url("../images/bg-main.jpg") center 0;
    font-family: 'Open Sans';
}
#all-content {
    width: 1000px;
    margin: 0 auto;
}
#header {
    width: auto;
    height: 180px;
    position: relative;
    text-align: center;
}
.logo {
    position: absolute;
    top: 44px;
    left: 0;
    color: #fff;
    font-family: Gabriola;
    font-size: 65px;
    text-decoration: none;
}
.header-info .motto {
    display: block;
}
.header-info .header-info-one {
    font-size: 24px;
    line-height: 1.208;
    color: #fff;
    width: 585px;
    display: block;
    margin: 0 auto;
    padding: 30px 0;
    font-weight: 600;
}
.contact-info {
    width: 241px;
    height:  135px;
    padding: 10px;
    position: absolute;
    top: 13px;
    right: 0;
    color: #fff;
    text-align: right;
    background: rgba(17,17,17,.6);
    border-radius: 5px;
}
.contact-info a {
    color: #fff;
    text-decoration: none;
}
.contact-info p {
    font-family: Gabriola;
    font-size: 18px;
    font-style: italic;
}
.contact-info .number {
    font-size: 24px;
    font-weight: 600;
    padding: 7px 0;
    padding-left: 50px;
    background: url("../images/phone.png") 0 10px no-repeat;
    display: inline-block;
}
.contact-info .mail {
    font-size: 14px;
    padding: 7px 0;
    padding-left: 50px;
    background: url("../images/mail.png") 0 6px no-repeat;
    display: inline-block;
    margin-bottom: 10px;
}
.button {
    min-width: 100px;
    padding: 0 7px;
    background: url("../images/btn-l.png") 0 0 no-repeat,
                url("../images/btn-r.png") right 0 no-repeat;
    height: 46px;
    width: 218px;
    display: inline-block;
}
.button a {
    background: url("../images/btn-c.png") 0 0 repeat-x;
    width: 100%;
    height: 20px;
    padding: 11px 0;
    text-align: center;
    display: block;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}
#main-menu {
    background: rgba(17,17,17,.6);
    width: 100%;
    /*height: 40px;*/
    overflow: hidden;
    margin-bottom: 10px;
}

#main-menu ul {
    /*margin-left: 323px;*/
}
#main-menu ul li {
    float: left;
    list-style-image: url("../images/marker.png");
    margin-left: 26px;
    height: 29px;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
}
#main-menu ul li a {
    height: 20px;
    display: block;
    padding: 7px 6px;
    color: #fff;
    text-decoration: none;
}
#main-menu ul li a:hover {
    background: #a50052;
}
#main-menu .first-li {
    list-style: none;
    margin-left: 0;
}

#left-block {
    width: 323px;
    display: inline-block;
    float: left;
}
.banner_head img {
    width: 100%;
}
#left-block .categories {
    margin-top: -2px;
}
#left-block .categories .header-of-block {
    background: #974d68;
    color: #fff;
    font-family: Gabriola;
    font-size: 30px;
    text-transform: uppercase;
    padding: 9px;
    height: 23px;
    font-weight: 600;
}
#left-block .categories .categ-list {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: #484848;
    padding: 9px;
    height: 23px;
    padding-left: 20px;
}
#left-block .categories .cat-menu > ul > li > a {
    background: #fff;
    height: 23px;
    padding: 13px 9px 4px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #9c2251;
    text-decoration: none;
    display: block;
    border: 1px solid #9c2251;
    border-top: none;
    position: relative;
}
#left-block .categories .cat-menu ul li a:hover {
    text-decoration: underline;
}
#left-block .first_li {
    float: left;
}
#left-block .arrow_show,
#left-block .arrow_hide  {
    display: inline-block;
    width: 14px;
    height: 14px;
    float: left;
    margin: 1px 0 0 5px;
    background: url("/static/images/chevron18.png") center;
    background-size: 100%;
}
#left-block .arrow_hide {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
#left-block .categories .cat-menu > ul > li > ul > li > a {
    background: #fff;
    height: 15px;
    padding: 14px 14px 14px 30px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    display: block;
    border: 1px solid #9c2251;
    border-top: none;
}

#main-content {
    position: relative;
}
#center-block {
    width: 700px;
    padding: 20px;
    min-height: 100px;
    vertical-align: top;
    float: left;
}
#center-block .goodss .good {
    background: #fff;
    padding: 13px;
    border: 1px solid #974d68;
    width: 192px;
    /*width: 159px;*/
    height: 337px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}
.action_sticker {
    position: absolute;
    padding: 5px;
    background: #FF0000;
    left: -2px;
    top: 20px;
    z-index: 100;
    color: #fff;
    border-radius: 0 2px 2px 0;
}
#center-block .goodss .good.mar0 {
    margin-right: 0;
}
#center-block .goodss .good .goods-img {
    /*width: 190px;*/
    height: 210px;
    overflow: hidden;
    text-align: center;
}
#center-block .goodss .good .goods-img img {
    width: 100%;
}
#center-block .goodss .good .about-goods {
    height: 44px;
    font-size: 14px;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 10px;
}
#center-block .goodss .good .price {
    font-size: 18px;
    font-weight: 600;
    color: #373032;
    margin-top: 0;
    float: left;
}
#center-block .goodss .good .goods-bot a {
    background: url("../images/goods-but.png");
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 600;
    height: 18px;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    width: 178px;
}
#center-block .goodss .good .goods-bot {
    margin-top: 20px;
}

.awaiting_delivery,
.sold_out,
.custom
{
    float: left;
    margin-top: 13px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    height: 38px;
}
.awaiting_delivery .desc,
.sold_out .desc,
.custom .desc
{
    float: left;
    margin-top: 6px;
    font: 13px/12pt sans-serif;
}
.awaiting_delivery .icon,
.sold_out .icon,
.custom .icon
{
    float: right;
    width: 22px;
    height: 22px;
    margin-right: 5px;
    background: url("/static/images/dilevery.png");
    background-size: 100%;
}
.sold_out .desc,
.custom .desc {
    font: 15px/12pt sans-serif;
    margin-left: 2px;
}
.sold_out .icon{
    background: url("/static/images/sold_out.png");
    background-size: 100%;
    margin-top: 3px;
}
.awaiting_delivery.extended,
.sold_out.extended,
.custom.extended
{
    float: right;
    width: 202px;
    padding: 5px;
    height: 38px;
    margin-top: 0;
    border: none;
}
.awaiting_delivery.extended .desc,
.sold_out.extended .desc,
.custom.extended .desc
{
    float: right;
    margin-right: 8px;
    font: 15px/12pt sans-serif;
}

.custom .icon {
    background: url("/static/images/checked19.png");
    background-size: 100%;
    margin-top: 3px;
}


#right-block {
    width: 222px;
    min-height: 100px;
    float: left;
    margin-top: 20px;
}
#right-block .header-of-right-block {
    margin-left: -17px;
    padding-right: 13px;
    color: #fff;
    font-size: 14px;
    background: url("../images/right-bl.png") right 0 no-repeat;
}
#right-block .header-of-right-block p {
    background: #a50052;
    padding: 4px 0;
    padding-left: 17px;
    height: 31px;
}
#right-block .r-header-block {
    font-family: Georgia;
    font-size: 14px;
    font-style: italic;
    padding: 7px 0;
    color: #fff;
}
#right-block .block-instr a {
    color: #fff;
    font-family: Georgia;
    font-size: 18px;
    font-style: italic;
    text-decoration: none;
}
#right-block .block-instr a p {
    padding: 13px 13px 13px 55px;
}
#right-block .block-instr img {
    float: left;
}
#right-block .banners-r img {
    margin-top: 20px;
    width: 100%;
}
.clear {
    clear: both;
}

#footer {
    background: rgba(17, 17, 17, 0.6);
    height: 145px;
    margin-top: 20px;
}
#footer .all-right {
    color: #fff;
    font-size: 14px;
    padding: 60px 0;
}
#footer .all-right .copyr {
    font-size: 20px;
    margin-right: 10px;
}
#footer .all-right .namer {
    font-family: Pristina;
    font-size: 24px;
    margin-right: 10px;
}
.all-content {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.cifooter {
    border-radius: 0;
    background: none;
    top: 0;
    padding: 10px 0;
    height: 125px;
}
.cifooter .button {
    width: 205px;
}
.main-slider {
    border: 1px solid #a5a5a5;
    padding: 9px;
    background: #fff;
    overflow: hidden;
    margin-bottom: 20px;
}
.main-slider img {
    width: 683px;
}
.photoslider-bullets {
    width: auto !important;
    height: 443px;
}
.photoslider-bullets .sliderkit-nav {
    top: auto !important;
    right: auto !important;
    bottom: 10px !important;
    left: 50% !important;
    margin-left: -35px;
}
.good-c {
    margin-top: 20px;
    padding: 0 5px;
    height: 34px;
    background: url("../images/gb-l.png") 0 0 no-repeat,
                url("../images/gb-r.png") right 0 no-repeat;
}
.good-c a {
    height: 18px;
    padding: 8px;
    background: url("../images/gb-cr.png") right 0 no-repeat, url("../images/gb-c.png");
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    clear: both;
    margin-top: 35px;
}


.CatalogProductBox {
    background: #ffffff;
    border: 1px solid #974d68;
    padding: 10px;
    float: left;
}
.CatalogProductBoxContent {
    margin: 15px 5px 10px 5px;
    float: left;
    max-width: 435px;
}
.CatalogProductBoxContent p {
    font: 16px/16pt sans-serif;
}
.CatalogProductBoxContent img {
    max-width: 100%;
}
.CatalogProductBox h1 {
    font-family: inherit;
    font-size: 26px;
    margin: 5px 0 0 5px;
    float: left;
}
.galeryBox {
    width: 230px;
    float: right;
}
.your-class	{
    width: 160px;
    margin: 0 35px;
    position: relative;
}
.your-class button {
    position: absolute;
    top: 7px;
    width: 20px;
    height: 40px;
    background: rgba(0, 0, 0, 0.05);
    border: none;
    cursor: pointer;
    outline: none;
}
.your-class button:hover {
    background: rgba(0, 0, 0, 0.11);
}
.slick-prev {
    left: -22px;
}
.slick-next {
    right: -22px;
}
.slick-slide {
    margin: 5px;
    overflow: hidden;
    background: #0000ff;
    height: 60px;
}
.slick-slide:hover {
    box-shadow: 0 0 5px #333;
}
.slick-slide img {
    width: 100%;
    height: 50px;
    cursor: pointer;
}
.galeryBoxImg {
    min-height: 260px;
    overflow: hidden;
}
.galeryBoxImg img {
    width: 228px;
}

.CatalogPriceBox {
    float: left;
    margin-left: 6px;
    margin-top: 11px;
    padding: 7px 10px;
    background: #e9e9e9;
    width: 413px;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.33);
}
.CatalogPriceBoxPrice {
    float: left;
    margin-top: 10px;
    font-size: 14px;
}
.CatalogPriceBoxPrice span {
    color: #FF0000;
    font-size: 16px;
    font-weight: bold;
}
.CatalogPriceOld {
    float: left;
    margin: 10px;
    color: #969191;
    text-decoration: line-through;
}
.CatalogPriceBox a {
    float: right;
    padding: 8px 35px;
    background: #FF0000;
    color: #ffffff;
    border-radius: 22px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.54);
    border: 1px solid #CF0748;
    text-decoration: none;
}

.ContentBox {
    background: #ffffff;
    box-shadow: 0 0 15px #5E5E5E;
    color: #444;
    clear: both;
}
.ContentBox h1 {
    font: 28px/28pt sans-serif;
    color: #444;
    width: 100%;
}
.ContentBox p {
    margin: 5px 0;
    font: 16px/16pt sans-serif;
}
.ContentBoxHead {
    padding: 13px 20px;
    border-bottom: 1px solid #E7E7E7;
    background: #eee;
}
.ContentBoxPage {
    padding: 15px 20px;
}
.ContentBoxPage img {
    width: 100%;
}
.video-responsive {
  position: relative;
  /*overflow:hidden;*/
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cart_item {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}
.cart_item:first-child {
    border-top: 1px solid #ddd;
}
.cart_item .img_box {
    float: left;
    width: 60px;
    overflow: hidden;
}
.cart_item .inform {
    margin-left: 10px;
    float: left;
    width: 590px;
    position: relative;
}
.cart_item .inform a {
        color: #ed145b;
    float: left;
    margin-bottom: 5px;
}
.cart_item .inform p.color_and_size {
    float: left;
    margin: 0;
    clear: both;
    font-size: 12px;
}
.cart_item .inform .CartItemDelete {
    background: url("/static/images/cross92.png");
    background-size: 100%;
    opacity: 0.1;
    float: right;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.cart_item .inform .price_box {
    float: left;
    /* margin-top: 16px; */
    height: 34px;
    clear: both;
    /* background: #eee; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cart_item .inform .price_box .price {
    color: #ed145b;
}
.cart_item .inform .price_box .old_price {
    color: #7B7B7B;
    font-size: 14px;
    text-decoration: line-through;
}
.cart_item .inform .cart_control {
    width: 96px;
    height: 29px;
    background: #ed145b;
    float: right;
    border-radius: 2px;
    margin-top: 4px;
}
.cart_item .inform .cart_control .add {
    width: 12px;
    height: 12px;
    float: right;
    background: url("/static/images/add64.png") center;
    margin: 9px 10px 0 4px;
    background-size: 100%;
    cursor: pointer;
}
.cart_item .inform .cart_control .remove {
    width: 12px;
    height: 12px;
    float: left;
    background: url("/static/images/minus24.png") center;
    margin: 9px 4px 0 10px;
    background-size: 100%;
    cursor: pointer;
}
.cart_item .inform .cart_control .count {
    width: 34px;
    float: left;
    background: #E2758C;
    text-align: center;
    line-height: 29px;
    color: #fff;
    margin: 0 5px;
}

.cart_item .inform .cart_sum {
    float: right;
    margin: 9px 10px 0 0;
}
.cart_item .inform .bottom_cart_item {
    float: left;
    clear: both;
    width: 100%;
}
.CartOrder {
    float: right;
    margin: 10px 0 10px 10px;
}
.CartSum {
    float: right;
    margin-top: 15px;
}


.title_h2 {
    float: left;
    clear: both;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
}

.cart_login {
    float: left;
}
.cart_login .registration_form {
    margin: 11px 0;
}
.left_on_form p {
    margin: 10px;
    font: 13px/13pt sans-serif;
}
.cart_en_reg {
    background: #eee;
    padding: 5px 5px 7px 5px;
    display: block;
    width: 180px;
    margin: 0 auto;
    border: 1px solid #ccc;
    text-decoration: none;
}


.OrderBox {
    padding-top: 1px;
}
.UserInformationRed {
    padding: 5px;
    text-align: center;
    border-radius: 2px;
    margin: 10px;
    font: 16px/16pt sans-serif;
    color: #FFFFFF;
    background: #ED145B;
}
.UserInformationRed a {
    color: #fff;
}
.OrderBoxUserData, .OrderBoxAddressData {
    float: left;
    width: 300px;
    padding: 10px 20px;
}
.OrderBoxAddressData {
    margin-right: 10px;
}
.OrderBoxUserData h4,.OrderBoxAddressData h4, .OrderBoxAddressType h4, .OrderBoxConfirmation h4 {
    margin: 10px 0 15px 0;
    font: 18px/18pt sans-serif;
    color: #ed145b;
}

.OrderBoxUserData label,.OrderBoxAddressData label {
    display: inline-block;
    float: left;
    margin: 7px 5px 5px 5px;
    clear: both;
    width: 91px;
}
.OrderBoxUserData input,.OrderBoxAddressData input, .OrderBoxUserData textarea,.OrderBoxAddressData textarea {
    padding: 6px;
    width: 180px;
    background: #fff;
    border: 1px solid #D7D7D7;
    border-radius: 2px;
    float: left;
    display: block;
    margin: 3px 0;
}
.OrderBoxAddressData textarea {
    height: 60px;
}
.OrderBoxAddressType {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 5px 10px 10px 10px;
    margin: 0 10px;
    float: left;
    /*width: 660px;*/
}
.OrderBoxAddressTypeItem {
    margin: 12px 0;
}
.OrderBoxAddressTypeItem input {
    float: left;
    /*cursor: pointer;*/
}
.OrderBoxAddressTypeItem h5 {
    font-weight: bold;
}
.OrderBoxAddressTypeItem p {
    font: 13px/13pt sans-serif;
    margin-left: 22px;
}
.OrderBoxAddressTypeItem ul li {
    margin: 10px 5px;
}

.OrderBoxConfirmation {
    padding: 5px 10px 23px 10px;
    margin: 0 10px;
    float: left;
    width: 100%;
}
.OrderBoxConfirmation h4 {
    margin-top: 5px;
}
.OrderBoxConfirmation table {
    margin: 5px 0 0 30px;
    float: left;
}
.OrderBoxConfirmation td {
    padding: 5px;
}
.OrderBoxConfirmationPrice {
   color: #ed145b;
}
.OrderSubmit, .OrderBoxAddressTypeItem input[type="submit"] {
    float: left;
    margin: 25px 40px 0 130px;
    padding: 15px 40px;
    background: #ed145b;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.49);
    border: 1px solid #DB1355;
    text-decoration: none;
    cursor: pointer;
}
.OrderBoxConfirmation a:hover {
    background: #DB1355;
    border: 1px solid #BE0D48;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}
.OrderBoxAddressAddItem {
    width: 260px;
    float: left;
    padding: 10px 32px;
}
.OrderBoxAddressAdd label {
    display: block;
}
.OrderBoxAddressAdd input, .OrderBoxAddressAdd textarea {
    width: 230px;
    padding: 8px;
    margin: 5px 0 10px 0;
    border-radius: 2px;
    border: 1px solid #D8D8D8;
}
.OrderBoxPassword {
    width: 270px;
    height: 87px;
    border: none;
    padding: 0 10px;
    display: none;
}
.reg_client {
    margin-top: 5px;
}
.errorlist {
    display: inline;
}
.errorlist li {
    font-size: 12px;
    display: inline;
    font-weight: bold;
    color: #ff0000;
}
.UserInformation {
    margin: 10px 10px 5px 10px;
    background: #eee;
    padding: 10px;
}
.UserInformation p {
    font: 14px/15pt sans-serif;
}
.UserInformation img {
    width: 43px;
    float: left;
    opacity: 0.5;
    margin-right: 9px;
    margin-top: 1px;
}

.cart {
    width: 260px;
    height: 37px;
    position: absolute;
    top: 127px;
    border-radius: 2px;
    background: url("../images/btn-c.png") 0 0 repeat-x;
}
.cart p {
    font: 17px/16pt sans-serif;
    color: #ffffff;
    text-align: left;
    margin: 9px 0 0 10px;
}
.cart a {
    text-decoration: underline;
    color: #ffffff;
}

.goodss {
    clear: both;
    padding-top: 10px;
}
.catalogCategPath {
    margin: 10px 0;
    float: left;
}
.catalogCategPath li {
    float: left;
    margin-right: 5px;
    color: #ffffff;
    font-size: 12px;
}
.catalogCategPath a {
    color: #ffffff;
}


.categ_h1 {
    float: left;
    clear: both;
    color: #fff;
    font: 20px/20pt sans-serif;
}
.children {
    float: left;
    clear: both;
    margin: 5px 0;
}
.children a {
    float: left;
    margin: 0 10px 5px 0;
    color: #fff;
    font-size: 13px;
}

.background {
    background: #000000;
    opacity: 0.7;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 300;
    cursor: pointer;
}
.popupBox {
    position: fixed;
    width: 580px;
    height: 240px;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -130px;
    background: #FFF;
    /* border: solid 1px black; */
    padding: 10px;
    border-radius: 1px;
    overflow: auto;
    z-index: 301;
    box-shadow: 0 0 10px #000;
}
.popupBox h4 {
    font-size: 26px;
    margin: 10px 0 0 10px;
}
.popupBox p {
    margin: 10px 15px 10px 30px;
}
.popupBox p span {
    font-weight: bold;
}
.popupBoxOrder {
    float: left;
    clear: both;
    margin: 25px 15px 0 30px;
    padding: 12px 36px;
    background: #ed145b;
    color: #ffffff;
    text-align: center;
    width: 163px;
    box-shadow: 0 0 5px #4A4747;
    border: 1px solid #C50A47;
    text-decoration: none;
}
.popupBoxOrder:hover {
    background: #b61145;
    cursor: pointer;
}
.popupBoxOpenCart {
    float: left;
    margin: 34px 0 0 70px;
    opacity: 0.9;
}
.popupBoxOpenCart:hover {
    opacity: 1;
}
.popupBoxOpenCart img {
    float: left;
}
.popupBoxOpenCart span {
    float: left;
    margin: 5px 0 0 10px;
    text-decoration: underline;
}
.popupBoxLoginForm {
    margin: 30px 0 0 60px;
    position: relative;
}
.popupBoxLoginForm label {
    float: left;
    clear: both;
    font-size: 14px;
    line-height: 22px;
    width: 180px;
}
.popupBoxLoginForm input {
    float: left;
    margin: 0 0 7px 20px;
    width: 220px;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #BEBBBB;
}
.popupBoxLoginForm input[type="checkbox"] {
    width: 30px;
    clear: both;
    margin-left: 192px;
    margin-top: 5px;
}
label.popupBoxLoginFormZap {
    clear: none;
    font-size: 13px;
    display: block;
    width: 128px;
}
.popupBoxLoginFormVos {
    clear: none;
    float: left;
    display: block;
    font-size: 15px;
    width: 92px;
    margin-top: 18px;
}
.popupBoxBottom {
    float: right;
    margin: 10px 79px 0 0;
    padding: 10px 35px;
    background: #ed145b;
    color: #ffffff;
    text-align: center;
    width: 70px;
    box-shadow: 0 0 5px #4A4747;
    border: 1px solid #C50A47;
    text-decoration: none;
}
.popupBoxBottom:hover {
    background: #b61145;
    cursor: pointer;
}
.popupBoxLoginFormClose {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0.2;
}
.popupBoxLoginFormClose:hover {
    opacity: 0.4;
    cursor: pointer;
}
.popup_img_box {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.popup_img_box img {
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 15px #000;
    height: 100%;
}
.popup_img_box_close {
    width: 24px;
    height: 24px;
    position: fixed;
    top: 15px;
    right: 15px;
    background: url("../images/delete30.png");
    opacity: 0.3;
}


.content_table {
    font: 14px/14pt sans-serif;
    width: 100%;
}
.content_table p {
    font: 14px/14pt sans-serif;
}
.content_table td {
    border: 1px solid #E0E0E0;
    padding: 6px;
    vertical-align: middle;
}
.content_table td a {
    line-height: 34px;
}
.content_table td ul {
    list-style: inherit;
    margin-left: 16px;
}

.CatalogProductBoxCont {
    float: right;
    width: 438px;
    padding: 4px;
    /*min-height: 317px;*/
}

.relatedProducts {
    clear: both;
    border-top: 1px solid #D0CECE;
    padding-top: 10px;
}
.relatedProducts h3 {
    font-family: inherit;
    font-size: 20px;
    margin-left: 5px;
}
.relatedProductsItem {
    width: 154px;
    height: 220px;
    margin: 10px 5px 0 5px;
    padding: 10px;
    float: left;
    border: 1px solid #D3D3D3;
}
.relatedProductsItem:hover {
    box-shadow: 0 0 5px #A1A1A1;
    border: 1px solid #C3C3C3;
}
.relatedProductsItem h4 {
    margin-top: 10px;
    font: 16px/16pt sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.relatedProductsItem p.price {
    font: 14px/14pt sans-serif;
    color: #222;
    margin-top: 5px;
    float: left;
}
.relatedProductsItemImg {
    width: 100%;
    height: 120px;
    overflow: hidden;
}
.relatedProductsItemImg img {
    width: 100%;
}
.relatedProductsItem div.good-c {
    margin-top: 10px;
}
.RegistrationBox {
    width: 607px;
}

.video_file {
    position: relative;
}
.video_file span {
    position: absolute;
    background: url("../images/play87.png");
    width: 64px;
    height: 64px;
    opacity: 0.7;
}
.video_file span:hover {
    opacity: 1;
}
.video_file img {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.42);
}

.sizes_list_table {
    margin-bottom: 10px;
    width: 100%;
}
.sizes_list_table td {
    vertical-align: middle;
}
.sizes_list {
    list-style: none;
    height: 30px;
    padding-top: 10px;
}
.sizes_list li {
    min-width: 60px;
    height: 16px;
    padding: 3px;
    background: #F7F7F7;
    text-align: center;
    float: left;
    margin-right: 10px;
    margin-bottom: 4px;
    border: 1px solid #D8D8D8;
    border-radius: 2px;
    font-size: 14px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.07);
    cursor: pointer;
}
.product_colors, .product_models {
    padding: 2px 0;
    background: #F7F7F7;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 5px;
    border: 1px solid #D8D8D8;
    border-radius: 2px;
    width: 145px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.07);

}
.product_structure {
    margin-bottom: 10px;
}
.sizes_list li.sizes_list_active {
    background-color: #FF0000;
    border: 1px solid #CF0748;
    color: #fff;
}

.orderPhone {
    margin: 40px 10px 10px 25px;
}
.orderPhone label {
    margin: 0 0 5px 0;
    display: block;
}
.orderPhone input {
    padding: 8px;
    width: 225px;
    background: #fff;
    border: 1px solid #D7D7D7;
    border-radius: 2px;
}


.delivery_mail {
    margin-top: 25px;
    background-color: #FAFAFA;
    padding: 10px;
}
.delivery_mail h3 {
    color: #9c2251;
    font-size: 20px;
}
.delivery_mail form {
    margin-top: 10px;
}
.delivery_mail form input {
    margin: 5px 0;
    width: 190px;
    padding: 4px 3px;
    border: 1px solid #CDCCCC;
    border-radius: 3px;
    outline: none;
}
.delivery_mail form input[type="button"] {
    width: 198px;
    box-shadow: 0 0 3px rgba(153, 153, 153, 0.39);
    border: 1px solid #11C314;
    color: #ffffff;
    background-color: #50F025;
    font-size: 16px;
    cursor: pointer;
}
.delivery_mail form input[type="button"]:hover {
    box-shadow: 0 0 3px rgba(153, 153, 153, 0.60);
}

.post {
    border-bottom: 1px solid #eeeeee;
    padding: 10px 0 15px 0;
}
.post a.title {
    color: #9c2251;
}
.post h4 {
    font-size: 24px;
}
.text {
    padding: 10px 0;
    font: 16px/16pt sans-serif;
}
.post .more {
    float: right;
    margin-right: 27px;
}


.form_group {
    width: 664px;
    border-bottom: 1px solid #eee;
    margin: 15px 30px;
}
.form_group h3 {
    font: 16px/16pt sans-serif;
    color: #9c2251;
    font-weight: bold;
    margin-bottom: 10px;
    float: left;
}
.form_group_item {
    clear: both;
}
.form_group_item label {
    display: inline-block;
    margin: 7px 0 5px 42px;
    color: #555;
    width: 155px;
}
.form_group_item input,
.form_group_item textarea {
    padding: 5px 4px;
    width: 250px;
    background: #fff;
    border: 1px solid #CACACA;
    border-radius: 3px;
    font-size: 14px;
    display: inline-block;
    margin: 2px 0;
}
.form_bottom {
    display: inline-block;
    padding: 8px 25px;
    background: #ed145b;
    color: #fff;
    border-radius: 2px;
    text-decoration: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border: 1px solid #CA0B4A;
    margin: 10px 0 15px 286px;
}
.form_group .error {
    color: #FF0000;
  display: inline;
  font-size: 15px;
  margin-left: 5px;
}
.error_field label {
    color: #FF0000;
}
.error_field input {
    border: 1px solid #FF0000;
}

.my_bottom {
    display: inline-block;
    padding: 7px 20px;
    background: #ed145b;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border: 1px solid #CA0B4A;
    cursor: pointer;
    font-size: 14px;
}

.site_form .fieldWrapper td {
    padding: 4px 8px;
}
.site_form .fieldWrapper label {
    display: inline-block;
    width: 120px;
    margin: 0 0 2px 0;
    font-size: 14px;
}

.site_form .fieldWrapper input[type="text"],
.site_form .fieldWrapper input[type="email"],
.site_form .fieldWrapper input[type="password"]
{
    padding: 5px;
    border-radius: 2px;
    width: 190px;
    border: 1px solid #C5C5C5;
}
.site_form .my_bottom{
    float: right;
    margin: 4px 10px 6px 0;
}
.site_form .fieldWrapper .errorlist {
    display: block;
    margin-top: 2px;
}
.site_form .access_link {
    float: right;
    margin-right: 15px;
    font-size: 12px;
    margin-top: 8px;
}

.left_on_form {
    width: 290px;
    float: right;
    margin: 20px 10px 30px 0;
    text-align: center;
}
.left_on_form h3 {
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 16px;
}
.left_on_form a {
    font-size: 14px;
}
.left_on_form.reg {
    margin-top: 70px;
}

.registration_form {
    width: 356px;
    float: left;
    display: block;
    padding: 4px 0;
    margin: 20px;
    border: 1px solid #EAEAEA;
    background-color: #eee;
}

.categ_sort {
    float: left;
    clear: both;
    color: #fff;
    font-size: 14px;
}
.categ_sort select {
    padding: 2px;
    background: #fff;
    margin-left: 3px;
    border: 1px solid #eee;
    border-radius: 2px;
    font: 13px/12px sans-serif;
    color: #4A4A4A;
}

@media screen and (max-width:1347px) {
    #center-block {
        width: 395px
    }
    .CartItem {
        width: 370px;
        margin: 2px 0;
    }
    .CartItem h3 {
        width: 130px;
        font: 14px/30px sans-serif;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .CartItem p {
        font: 15px/40px sans-serif;
    }
    .CartItemPrice {
        display: none;
    }
    .CartItemPrice, .CartItemSumm, .CartItemCount {
        width: 75px;
        height: 40px;
    }
    .CartItemPriceLabel, .CartItemSummLabel, .CartItemCountLabel {
        display: none;
    }
    .ContentBoxHead {
        padding: 10px;
    }
    .ContentBoxPage {
        padding: 10px;
    }
    .CartItemImage {
        float: left;
        width: 36px;
        height: 40px;
    }
    .CartItemDelete {
        width: 12px !important;
        top: 14px;
        right: 8px;
    }
    .CartLabels p {
        display: inline;
        color: #999999;
        font: 14px/14pt sans-serif;
    }
    p.CartTitleLabel {
        margin-left: 0;
    }
    p.CartPriceLabel {
        display: none;
    }
    p.CartCountLabel {
        margin-left: 81px;
    }
    p.CartSumLabel {
        margin-left: 30px;
    }

    .ContentBoxPage table {
        font: 12px/14pt sans-serif;
    }

    .CatalogProductBoxCont {
        width: 375px;
    }
    .CatalogPriceBox {
        width: 353px;
    }
    .galeryBox {
        width: 301px;
    }

    .RegistrationBox {
        width: 303px;
        height: 350px;
    }

    #main-menu ul li {
        font-size: 12px;
        line-height: 17px;
        height: 27px;
    }
    #main-menu ul li a {
        height: 12px;
        display: block;
        padding: 6px 4px;
        color: #fff;
        text-decoration: none;
    }

    .CartSum {
        margin: 7px 0 0 120px;
    }
    .CartOrder {
        margin-top: 10px;
    }
    #center-block .goodss .good .price {
        font-size: 15px;
    }
    .CatalogProductBoxContent {
        max-width: 375px;
    }


    .left_on_form,
    .left_on_form.reg {
        width: 375px;
        margin-top: 0;
    }

    .cart_item .inform {
        width: 305px;
    }

    .cart_item .inform h3 {
        width: 280px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .OrderBoxUserData, .OrderBoxAddressData {
        width: 360px;
    }
    .OrderBoxUserData label, .OrderBoxAddressData label {
        margin: 7px 5px 5px 15px;
        width: 120px;
    }
    .OrderBoxAddressTypeItem h5 {
        font-size: 14px;
        padding-top: 2px;
    }
}