{% extends "main.html" %}
{% load staticfiles %}
{% load main_slider %}
{% load top_menu %}

{% block head %}
    <title>Darya-Shop</title>
{% endblock %}


{% block center_block %}
<div id="center-block">
    {% top_menu %}
    {% main_slider %}

    {% block content %}
    <div class="goodss">
        {% for product in products %}
        <div class="good">
            {% if product.status != 0 %}
            <div class="action_sticker">{{ product.sticker }}</div>
            {% endif %}
            <a href="/catalog/product/{{ product.id }}/">
                <div class="goods-img">
                    <img src="/static/uploads/{{ product.image }}" alt="img"/>
                </div>
                <div class="about-goods">{{ product.name }}</div>
            </a>
            {% if product.sale_status %}
            <div class="price">{{ product.price_sale }} руб.</div>
            <div class="price" style="float: right; color: #999; text-decoration: line-through">{{ product.price }} руб.</div>
            {% else %}
            <div class="price">{{ product.price }} руб.</div>
            {% endif %}

            {% if product.product_status == 0 %}
                <div class="good-c">
                    <a data-id="{{ product.id }}" href="#">В корзину</a>
                </div>
            {% elif product.product_status == 1  %}
                <div class="awaiting_delivery">
                    <span class="icon"></span>
                    <span class="desc">Ожидаем поступление</span>
                </div>
            {% elif product.product_status == 2  %}
                <div class="sold_out">
                    <span class="icon"></span>
                    <span class="desc">Распродано</span>
                </div>
            {% endif %}

        </div>
        {% endfor %}
    </div>
    {% endblock %}

</div>
{% endblock %}

