{% extends "main.html" %}
{% load staticfiles %}

{% block content %}
<div class="ContentBox">
    <div class="ContentBoxHead">
        <h1>Корзина</h1>
    </div>
    <div class="ContentBoxPage" style="">
        {% if products|length > 0 %}
            {% for product in products %}
{#                <div class="CartItem">#}
{#                    <img class="CartItemImage" src="/static/uploads/{{ product.image }}">#}
{#                    <a href="/catalog/product/{{ product.product.id }}/"><h3 style="text-decoration: underline">{{ product.name }}</h3></a>#}
{#                    <p class="CartItemPriceLabel">Цена:</p>#}
{##}
{#                    {% if product.sale_status %}#}
{#                        <p class="CartItemPrice">{{ product.price_sale }} р.</p>#}
{#                    {% else %}#}
{#                        <p class="CartItemPrice">{{ product.price }} р.</p>#}
{#                    {% endif %}#}
{##}
{#                    <p class="CartItemCountLabel">Количество</p>#}
{#                    <p class="CartItemCount">#}
{#                        <img class="CartAdd" src="{% static "images/rounded54.png" %}">#}
{#                        {{ product.cart_count }}#}
{#                        <img class="CartDelete" data-id="{{ product.id }}" src="{% static "images/round56.png" %}">#}
{#                    </p>#}
{#                    <p class="CartItemSummLabel">Сумма</p>#}
{#                    <p class="CartItemSumm">{{ product.price_sum_new }} р.</p>#}
{#                    <img class="CartItemDelete" data-id="{{ product.id }}" src="{% static "images/cross97.png" %}" />#}
{#                    <div style="clear:both"></div>#}
{#                </div>#}

                <div class="cart_item">
                    <div class="img_box">
                        <img src="/static/uploads/{{ product.image }}" alt="{{ product.name }}"/>
                    </div>

                    <div class="inform">
                        <a href="/catalog/product/{{ product.product.id }}/">
                            <h3>{{ product.name }}</h3>
                        </a>

                        {% if product.cart_color%}
                            <p class="color_and_size">Цвет: {{ product.cart_color }}</p>
                        {% endif %}

                        {% if product.cart_size %}
                            <p class="color_and_size">Размер: {{ product.cart_size }}</p>
                        {% endif %}

                        <span class="CartItemDelete" data-id="{{ product.id }}"></span>

                        <div class="bottom_cart_item">
                            <div class="price_box">
                                {% if product.sale_status %}
                                    <span class="price">{{ product.price_sale }} руб.</span>
                                    <span class="old_price">{{ product.price }} руб.</span>
                                {% else %}
                                    <span class="price">{{ product.price }} руб.</span>
                                {% endif %}
                            </div>

                            <div class="cart_control">
                                <span class="remove" data-id="{{ product.id }}"></span>
                                <span class="count">{{ product.cart_count }}</span>
                                <span class="add" data-id="{{ product.id }}"></span>
                            </div>

                            <span class="cart_sum">{{ product.price_sum_new }} руб.</span>
                            <div style="clear: both"></div>
                        </div>

                        <div style="clear: both"></div>
                    </div>

                    <div style="clear: both"></div>
                </div>
            {% endfor %}

            {% if user.is_authenticated %}
                <a class="CartOrder my_bottom" href="/orders/create/">Оформить заказ</a>
                <h4 class="CartSum">Сумма заказа: <span>{{ sum }} руб.</span></h4>
                <div class="clear"></div>
            {% else %}
                <h4 class="CartSum">Сумма заказа: <span>{{ sum }} руб.</span></h4>

                <h2 class="title_h2">Оформить заказ</h2>

                <div class="cart_login">
                    <form action="/login/" class="site_form registration_form" method="get">
                        {% if form_error %}
                            <ul class="errorlist nonfield"><li>{{ form_error }}</li></ul>
                        {% endif %}
                        {{ form.non_field_errors }}
                        <table>
                        {% for field in form %}
                            <tr class="fieldWrapper">
                                <td>{{ field.label_tag }}</td>
                                <td>
                                    {{ field }}
                                    {{ field.errors }}
                                </td>
                            </tr>
                        {% endfor %}
                        </table>
                        <input type="submit" value="Войти и офомить заказ" data-next="/orders/create/" class="my_bottom"/>
                        <div style="clear:both;"></div>
                    </form>
                    <div class="left_on_form">
                        <h3>Ещё не зарегистрированы на<br/> Darya-Shop?</h3>
                        <a href="/registration/">Зарегистрироваться</a>
                    </div>
                    <div class="clear"></div>
                </div>
            {% endif %}




        {% else %}
            <p>Корзина пуста</p>
        {% endif %}
    </div>
</div>
{% endblock %}