<div class="categories">
    <div class="header-of-block">Разделы каталога:</div>
    <div class="categ-list">По категориям:</div>
    <div class="cat-menu">
        <ul>
            {% for parent,childrens in mass_categ.items %}
            <li>
                {% if childrens %}
                    <a href="/catalog/{{ parent.url }}/">
                        <span class="first_li">{{ parent.title }}</span>
                        <span class="{% if parent.active %}arrow_hide{% else %}arrow_show{% endif %}"></span>
                    </a>
                    <ul class="second_nav">
                        {% for child in childrens %}
                        <li><a href="/catalog/{{ child.url }}/">{{ child.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <a href="/catalog/{{ parent.url }}/">{{ parent.title }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>