{% load static %}
{% load catalog_menu %}
{% load right_banners %}
{% load main_slider %}
{% load top_menu %}
{% load header %}
{% load search %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% block head %}<title>Darya-Shop</title>{% endblock %}
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/sliderkit-core.css" %}" rel="stylesheet">
    <link href="{% static "css/sliderkit-demos.css" %}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="{% static "js/uppod-0.6.3.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "fancybox/jquery.fancybox.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "fancybox/helpers/jquery.fancybox-thumbs.css" %}"/>
</head>
<body>
<div class="background" style="display: none"></div>
<div class="popupBox" style="display: none">

</div>

<div id="all-content">
    {% header_show %}

    <div id="main-content">

        <div id="left-block">
            {% banner_head %}
            {% if categ %}
                {% if categ.parent %}
                    {% catalog_menu categ.parent %}
                {% else %}
                    {% catalog_menu categ %}
                {% endif %}
            {% else %}
                {% catalog_menu %}
            {% endif %}
        </div>

        {% block center_block %}

        <div id="center-block">
            {% top_menu %}
            {% if q %}
                {% search q %}
            {% else %}
                {% search %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        {% endblock %}

        <div id="right-block">
            <div class="header-of-right-block"><p>Будь в курсе! Подпишись на нас в соц. сетях!</p></div>
            <div class="block-vk">
                <div class="r-header-block">Мы в вконтакте:</div>
                <script type="text/javascript" src="//vk.com/js/api/openapi.js?95"></script>
                <!-- VK Widget -->
                <div id="vk_block">
                <div id="vk_groups"></div>
                <p>.</p>
                <script type="text/javascript">
                VK.Widgets.Group("vk_groups", {mode: 0, width: "222", height: "250", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 18336175);
                </script>
                </div>
            </div>
            <div class="block-instr">
                <div class="r-header-block">Мы в инстаграм:</div>
                <div class="instr">
                    <a href="https://instagram.com/luxe_style_darya" target="_blank"><img src="{% static "images/instgr.png" %}" alt=""/><p>@luxe_style_darya</p></a>
                </div>
            </div>

            <div class="delivery_mail">
                <h3>Рассылка</h3>

                <form action="">
                    <input type="text" name="first_name" id="id_first_name" placeholder="Ваше имя"/>
                    <input type="text" name="email" id="id_email" placeholder="Email"/>
                    <input type="button" class="delivery_mail_button" value="Подписаться"/>
                </form>
            </div>

            {% right_banners %}
        </div>
        <div class="clear"></div>
    </div>
</div>
<div id="footer">
    <div class="all-content">
        <div class="all-right">
            <span class="copyr">©</span><span class="namer">Darya-A-Shop</span>все права защищены.
        </div>
        <div class="contact-info cifooter">
            <div class="number">8(968)0137182</div>
            <div class="mail"><a href="mailto:darya-a-shop@yandex.ru">darya-a-shop@yandex.ru</a></div>
            <div class="button"><a href="#">Заказать звонок</a></div>
        </div>
    </div>
</div>

<script src="{% static "js/jquery.easing.1.3.min.js" %}"></script>
<script src="{% static "js/jquery.mousewheel.min.js" %}"></script>
<script src="{% static "js/jquery.sliderkit.1.4.min.js" %}"></script>
<script src="{% static "js/jquery.maskedinput.min.js" %}"></script>
<script src="/static/fancybox/jquery.fancybox.js"></script>
<script src="/static/fancybox/helpers/jquery.fancybox-thumbs.js"></script>
<script src="{% static "js/uppod-0.5.15.js" %}"></script>
<script src="{% static "js/common.js" %}"></script>
{% block script %}{% endblock %}
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'xA4rG9NxOX';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->
</body>
</html>